Repository jpequegn/TrainingLab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ruff check --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,jsonc}": ["prettier --write"],
  "*.{css,scss,sass,less}": ["prettier --write"],
  "*.{html,htm}": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"],
  "*.py": ["ruff check --fix"],
  "*.{yml,yaml}": ["prettier --write"]
}

feat: add VS Code development environment configuration
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --write

feat: implement comprehensive API documentation with Swagger/OpenAPI
  api-docs/README.md
  api-docs/openapi.yaml
  api-docs/swagger-ui.html
  package.json
Due: prettier --write

feat: implement comprehensive code quality tooling and technical debt tracking
  .claude/settings.local.json
  .gitignore
  .jscpd.json
  .madgerc
  docs/code-quality.md
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: implement comprehensive dependency update automation and security monitoring
  .github/dependabot.yml
  .github/workflows/dependency-security.yml
  docs/dependency-management.md
  package-lock.json
  package.json
Due: prettier --write

fix: correct madge configuration format to valid JSON
  .madgerc
Due: none

fix: resolve security vulnerabilities and GitHub Actions failures
  .claude/settings.local.json
  .github/workflows/dependency-security.yml
  chart-utils.js
  comparison.js
  components/segment-editor.js
  components/workout-chart.js
  editor.js
  exporter.js
  library.js
  loading-manager.js
  mobile-enhancements.js
  package-lock.json
  package.json
  parser.js
  performance-optimizer.js
  state-manager.js
  tests/unit/error-logger.test.js
  tests/utils/test-helpers.js
  ui.js
  workout-generator.js
Due: eslint --fix, prettier --write

fix: increase ESLint warning threshold to resolve CI failures
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve Docker build and E2E test failures
  .dockerignore
  tests/e2e/basic.spec.js
Due: eslint --fix, prettier --write

fix(docker): add debugging steps to identify npm availability issue
  Dockerfile
Due: none

fix(docker): properly copy node_modules to production stage
  Dockerfile
Due: none

refactor: resolve code quality issues and security vulnerabilities
  components/workout-chart.js
  loading-manager.js
  package-lock.json
  power-zones.js
  reactive-ui.js
  ui.js
  workout-generator.js
  workout.js
Due: eslint --fix, prettier --write

feat: implement comprehensive performance and code quality improvements
  IMPROVEMENTS_IMPLEMENTED.md
  api.js
  script.js
  utils/dom-cache.js
  utils/error-reporting.js
  utils/event-manager.js
  utils/index.js
  utils/logger.js
Due: eslint --fix, prettier --write

chore: add git rebase to approved commands in Claude settings
  .claude/settings.local.json
Due: prettier --write

fix: resolve ESLint prefer-template error in dom-cache
  utils/dom-cache.js
Due: eslint --fix, prettier --write

refactor: reorganize project structure for better maintainability
  .claude/settings.local.json
  public/index-dark.html
  public/index-modern.html
  public/index.html
  public/power-zones-ui.html
  src/core/parser.js
  src/core/power-zones.js
  src/core/workout-generator.js
  src/core/workout.js
  src/error/error-handler.js
  src/error/error-logger.js
  src/lib/library.js
  src/main.js
  src/performance/mobile-enhancements.js
  src/performance/performance-optimizer.js
  src/services/api.js
  src/services/loading-manager.js
  src/services/state-manager.js
  src/services/storage.js
  src/ui/editor.js
  src/ui/keyboard-navigation.js
  src/ui/modern-ui-upgrade.js
  src/ui/shortcuts.js
  src/ui/themes.js
  src/ui/ui.js
  src/utils/chart-utils.js
  src/utils/comparison.js
  src/utils/dom-cache.js
  src/utils/error-reporting.js
  src/utils/event-manager.js
  src/utils/exporter.js
  src/utils/index.js
  src/utils/logger.js
  src/utils/module-loader.js
  src/utils/reactive-ui.js
  src/utils/security.js
  styles/editor.css
  styles/library.css
  styles/styles.css
Due: eslint --fix, prettier --write

feat: transform WkoLibrary to TrainingLab with modular architecture
  .env.example
  README.md
  api-docs/swagger-ui.html
  docker-compose.yml
  package-lock.json
  package.json
  src/README.md
  src/core/models/index.ts
  src/core/models/training.ts
  src/core/models/user.ts
  src/core/models/workout.ts
  src/core/services/index.ts
  src/core/services/workout-service.ts
  src/types/global.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: implement comprehensive user profile management system
  public/index.html
  src/components/profile/FTPHistory.js
  src/components/profile/PersonalInfoForm.js
  src/components/profile/ProfilePage.js
  src/components/profile/TrainingZones.js
  src/components/profile/UserPreferences.js
  src/main.js
  src/services/profile-service.js
  src/services/state-manager.js
  src/services/storage.js
  src/services/zone-calculator.js
  src/utils/error-reporting.js
  styles/styles.css
  tests/integration/profile-storage.test.js
  tests/unit/profile-components.test.js
  tests/unit/profile-service.test.js
  tests/unit/zone-calculator-simple.test.js
  tests/unit/zone-calculator.test.js
  vitest.config.js
Due: eslint --fix, prettier --write

feat: implement comprehensive Strava integration with OAuth2 and activity sync
  .env.example
  server.py
  src/components/integrations/StravaIntegration.js
  src/services/strava-api.js
  src/services/strava-auth.js
  src/services/strava-mapper.js
  src/services/strava_backend.py
  src/types/strava.types.ts
Due: eslint --fix, prettier --write, ruff check --fix

feat: implement comprehensive TrainingPeaks integration with OAuth2 and bidirectional sync
  server.py
  src/components/TrainingPeaksIntegration.js
  src/services/trainingpeaks-api.js
  src/services/trainingpeaks-auth.js
  src/services/trainingpeaks-converter.js
  src/services/trainingpeaks_backend.py
  src/types/trainingpeaks.types.ts
Due: eslint --fix, prettier --write, ruff check --fix

feat: redesign UI with modern athlete dashboard and improve server configuration
  public/index-original.html
  public/index.html
  server.py
  simple_server.py
Due: prettier --write, ruff check --fix

feat: implement user profile model for athlete dashboard (issue #118)
  public/index.html
  src/models/ModelFactory.js
  src/models/UserProfileModel.js
  src/models/__tests__/ModelFactory.test.js
  src/models/__tests__/UserProfileModel.test.js
Due: eslint --fix, prettier --write

feat: add profile management navigation to athlete dashboard
  public/index.html
Due: prettier --write

feat: integrate UserProfileModel with existing profile management system
  src/components/profile/ProfilePage.js
  src/services/profile-service.js
  src/services/state-manager.js
Due: eslint --fix, prettier --write

feat: enhance FTP & zones management with advanced testing protocols
  public/index-original.html
  src/components/profile/FTPTestCalculator.js
  src/components/profile/ProfilePage.js
  src/main.js
Due: eslint --fix, prettier --write

feat: implement QuickSettings component for issue #121
  .trainingpeaks_key
  public/.trainingpeaks_key
  public/index.html
  public/server_shutdown.flag
  src/components/QuickSettings.js
  styles/styles.css
Due: eslint --fix, prettier --write

test: add comprehensive unit tests for QuickSettings component
  tests/unit/quick-settings.test.js
Due: eslint --fix, prettier --write

feat: implement comprehensive navigation & multi-page architecture for issue #115
  public/index.html
  src/components/navigation/Navigation.css
  src/components/navigation/Navigation.js
  src/components/navigation/index.js
  src/pages/BasePage.css
  src/pages/BasePage.js
  src/pages/DashboardPage.css
  src/pages/DashboardPage.js
  src/pages/HistoryPage.js
  src/pages/LibraryPage.js
  src/pages/ProfilePage.js
  src/pages/VisualizerPage.css
  src/pages/VisualizerPage.js
  src/pages/index.js
  src/router/route-guards.js
  src/router/router.js
  src/router/routes.js
  tests/unit/quick-settings.test.js
Due: eslint --fix, prettier --write

refactor: systematic code quality improvements and ESLint error fixes
  components/ui.js
  components/workout-chart.js
  src/components/TrainingPeaksIntegration.js
  src/components/integrations/StravaIntegration.js
  src/main.js
  src/performance/performance-optimizer.js
  src/ui/modern-ui-upgrade.js
  src/ui/ui.js
  tests/performance/performance.test.js
  tests/unit/profile-components.test.js
  tests/unit/zone-calculator.test.js
Due: eslint --fix, prettier --write

fix: correct import path for error-logger.js
  src/utils/logger.js
Due: eslint --fix, prettier --write

fix: resolve browser compatibility issues
  favicon.ico
  src/utils/logger.js
Due: eslint --fix, prettier --write

fix: resolve Visualizer file upload and processing issues
  public/sample_workout.zwo
  src/core/parser.js
  src/pages/VisualizerPage.js
Due: eslint --fix, prettier --write

debug: add comprehensive logging for ProfilePage initialization and rendering
  public/index.html
  src/pages/ProfilePage.css
  src/pages/ProfilePage.js
  src/router/router.js
Due: eslint --fix, prettier --write

feat: integrate advanced FTP & zones management into ProfilePage (#120)
  src/pages/ProfilePage.css
  src/pages/ProfilePage.js
Due: eslint --fix, prettier --write

feat: replace GitHub Actions with enhanced local CI/CD system
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/dependency-security.yml
  .husky/pre-commit
  .husky/pre-push
  LOCAL-CICD.md
Due: prettier --write

feat: complete profile management UI integration (#119)
  src/pages/ProfilePage.css
  src/pages/ProfilePage.js
Due: eslint --fix, prettier --write

feat: integrate shadcn/ui design system into ProfilePage (#119)
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  src/components/ui/avatar.js
  src/components/ui/button.js
  src/components/ui/card.js
  src/components/ui/input.js
  src/components/ui/label.js
  src/components/ui/tabs.js
  src/lib/utils.js
  src/pages/ProfilePageShadcn.js
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: resolve ES module import errors in browser environment
  src/lib/utils.js
Due: eslint --fix, prettier --write

fix: resolve critical UI responsiveness and tab switching issues
  src/components/profile/FTPTestCalculator.js
  src/components/ui/tabs.js
  src/pages/ProfilePageShadcn.js
  src/services/profile-service.js
Due: eslint --fix, prettier --write

fix: resolve Profile page database persistence and Chart.js integration issues
  analyze_ui.cjs
  public/index.html
  src/models/UserProfileModel.js
  src/pages/ProfilePageShadcn.js
  src/services/storage.js
Due: eslint --fix, prettier --write

feat: add enhanced storage service with activity tracking and performance monitoring
  src/services/storage/enhanced-storage.js
Due: eslint --fix, prettier --write
